body {
    background-color: #463d36;
    color: #463d36;
    font-family: sans-serif;
}

div {
    background-color: white;
    width: 600px;
    font-size: 28px;
    border-radius: 20px;
    padding: 40px;
    margin: 100px auto;
}

#date {
    color: #a6192e;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
    font-weight: lighter;
}

button {
    text-transform: uppercase;
    background-color: #463d36;
    color: white;
    padding: 30px 40px;
    font-size: 24px;
    font-weight: bold;
}